* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { background: url(../images/debut_dark.png) repeat 0 0 ;}

#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 70px;
	min-height: 40px;
}

#fork_me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#fork_me:hover {
  opacity: 0.7;
}

#fork_me img {
  border: none;
}

#actions {
	float: left;
	width: 560px;
}
#labelOutput {
	height: 300px;
	margin-bottom: 20px;
}

#controls {
	height: 190px;
}

#controls .controlSet {
	width: 160px;
	float: left;
	margin: 0 10px;
}

#htmlOutput {
	float: right;
	width: 400px;
}

#cssOutput {
	float: right;
	width: 400px;
}

.code {
	width: 390px;
	display: block;
	background-color: rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 1px 0 rgba(255,255,255,0.3),inset 0 1px 5px rgba(0,0,0,0.1);
	-moz-box-shadow:    0 1px 1px 0 rgba(255,255,255,0.3),inset 0 1px 5px rgba(0,0,0,0.1);
	box-shadow:         0 1px 1px 0 rgba(255,255,255,0.3),inset 0 1px 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	color: white;
	color: rgba(255,255,255,0.8);
	text-shadow: 0 1px 1px black;
	font-size: 11px;
	font-family: "Courier new";
	font-weight: bold;
	padding: 10px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.ie7 .code {
	background-color: black;
}

.labelContainer{ position: relative;}

.settings {
	background-color: white;
	border-radius: 5px;
	padding: 10px 15px;
	font: 12px 'Helvetica Neue',Helvetica, sans-serif;
	color: #626671;
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.3);
}

.controlHeading {
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Verdana, sans-serif;
	color: #474747;
	display: block;
	margin-bottom: 10px;
	padding-bottom:3px;
	border-bottom: 1px dotted #9E9E9E;
	text-align: center;
}

input.disabledBox {
	background-color: #c7c7c7;
	border: 1px solid #969696;
	color: #a5a5a5;
}

.sliderAreaLarge {
	width: 130px;
}

.sliderAreaSmall {
	width: 70px;
	float: left;
	margin: 0 5px;
}

.sliderSlide {
	width: 50px;
	margin: 0 auto;
}

.sliderArea span {
	display: block;
	margin: 5px 0;
}

.clear {
	float: none;
	clear: both;
}

.ui-slider .ui-slider-handle { 
	border:none!important;
	background: url(../images/slider-toggle2.png) top no-repeat!important; 
	width: 1.6em!important; 
	height: 2em!important; 
	cursor:pointer!important;
}

.ui-widget-content {
	background-color: #5683f7;
	border: 1px solid #3156c6;
}

.form-field {
	background-color: #e5e5e5;
	border: 1px solid #c8c8c8;
	margin: 3px 0 8px 0;
	border-radius: 3px;
	padding: 3px;
	padding-left: 5px;
	color: #54576a;
	height: 30px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
}

#htmlOutput, #cssOutput {
	position: relative;
	margin-bottom: 10px;
}

.codeHeading {
	font-size: 18px;
	color: #009aea;
	font-weight: bold;
	position: absolute;
	right: 25px;
	top: 15px;
	text-shadow: 1px 1px 1px black;
}

.no-js #no-js-message {
	width: 800px;
	height: 130px;
	margin: 0 auto;
	padding: 30px 40px;
	background-color: #5683f7;
	border: 10px solid #3156c6;
	display: block;
	color: white;
	font-weight: bold;
	margin-top: 25%;
	box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.4);
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.72);
}

.no-js #actions, .no-js #cssOutput, .no-js #htmlOutput {
	display: none;
}
